<h1>Videos#Index</h1>
<p><%= link_to "新しい動画を投稿する", new_video_path %></p>
<% @videos.each do |video| %>
  <table>
    <tbody>
    <tr>
      <td><%= video.name %></td>
      <td>
        <%= link_to "詳細", video_path(video) %>
        <%= link_to "編集", edit_video_path(video) %>
        <%= link_to "削除", video_path(video), method: :delete, data: {confirm: "削除しますか？"} %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>