= render 'shared/flash_messages'
%h1
  Rooms#Show : #{@room.room_name}
%p
  %span email:
  = @user.email
%h1 Videos#New
= render partial: 'shared/video_new'
%h1 Videos#Index
= render partial: 'shared/video_index', collection: @room.videos, as: 'video'